<%= form_with(model: brand) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <!-- Old Approach (External Image URL) -->
    <%= form.label :image_url, class: "form-label" %>
    <%= form.text_field :image_url, class: "form-control" %>
    <!-- Image Attachment (Via ActiveStorage) -->
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
    <!-- <small class="badge bg-primary">Has Attached Image?: <%= @brand.image.attached?  %> </small> -->

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
