<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :product_image, class: "form-label" %>
    <%= form.file_field :product_image, class: "form-control" %>
    <small class="badge bg-success">Has Single Attached Image?: <%= @product.product_image.attached?  %> </small>
    <!-- Old Approach (External Image URL) -->
    <br>
    <small>URL</small>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="mb-3">
    <%= form.label :brochure, class: "form-label" %>
    <%= form.file_field :brochure, class: "form-control" %>
    <small class="badge bg-primary">Has Attached Brochure/PDF?: <%= @product.brochure.attached?  %> </small>
  </div>
  <hr>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :stock, class: "form-label" %>
    <%= form.text_field :stock, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :discount_percentage, class: "form-label" %>
    <%= form.text_field :discount_percentage, class: "form-control" %>
  </div>

  <div class="mb-3 form-check">
    <%= form.label :active, class: "form-label" %>
    <%= form.check_box :active, class: "form-check-input"%>
  </div>

  <div class="mb-3 form-check">
    <%= form.label :on_sale, class: "form-label" %>
    <%= form.check_box :on_sale, class: "form-check-input" %>
  </div>

  <div class="mb-3">
    <%= form.label :brand_id, class: "form-label" %>
    <%= form.collection_select :brand_id, Brand.all, :id, :name, html_options = { class: "form-select form-control" } %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
