<p id="notice"><%= notice %></p>

<h1> <%= t('.title') %> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.product.name') %></th>
      <th><%= t('activerecord.attributes.product.description') %></th>
      <th><%= t('activerecord.attributes.product.image_url') %></th>
      <th><%= t('activerecord.attributes.product.price') %></th>
      <th><%= t('activerecord.attributes.product.active') %></th>
      <th><%= t('activerecord.attributes.product.on_sale') %></th>
      <th><%= t('activerecord.attributes.product.stock') %></th>
      <th><%= t('activerecord.attributes.product.brochure') %></th>
      <th><%= t('activerecord.attributes.product.discount_percentage') %></th>
      <th><%= t('activerecord.attributes.product.brand_id') %></th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class=" <%= stock_on_row(product) %> ">
        <td><%= product.name %><br><%= raw product_on_sale?(product) %></td>
        <td><%= product.description %></td>
        <td><%= product.product_image.attached? ? (image_tag product.product_image , height: '50px') : (image_tag product.image_url, height: '50px') %> </td>
        <td><%= product.price %></td>
        <td><%= raw iconify_active(product.active) %></td>
        <td><%= product.on_sale %></td>
        <td><%= product.stock %></td>
        <td><%= product.brochure.attached? ? (link_to "Descargar", rails_blob_path(product.brochure, disposition: 'attachment'), class: 'badge bg-success') : "NO" %></td>
        <td><%= product.discount_percentage %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to t('g.show'), product %></td>
        <td><%= link_to t('g.edit'), edit_product_path(product) %></td>
        <td><%= link_to t('g.destroy'), product, method: :delete, data: { confirm: t('g.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
