<h1>Products (Store View)</h1>

<div class="row row-cols-1 row-cols-sm-2 g-3">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card">
        <%= raw product_on_sale?(product) %>
        <!-- <img src="assets/images/bs-images/img-2x1.png" class="card-img-top" alt="card-grid-image"> -->
        <%= image_tag product.image_url, class: 'card-img-top w-50 h-50' %>
        <div class="card-body">
          <h5 class="card-title">
            <strong><%= product.name %></strong>
            <% if product.discount_percentage > 0 %>
              <span class="text-end float-right badge bg-success"> <%= product.discount_percentage %>% OFF </span>
            <% end %>
            <br>

            <small>(<%= product.category.name %>)</small>
          </h5>
          <p class="card-text">
            <%= product.description %>
            <hr>
            <strong>Price: </strong>
            $<%= price_calculate(product) %>
            <% if product.discount_percentage > 0 %>
              <p>Antes: <del>$<%= product.price %></del><br></p>
            <% end %>

            <%#= number_to_currency(product.price, :unit => "ARS $") %>
            <hr>
            <%= link_to 'SHOW', product, class: 'btn btn-sm btn-outline-secondary' %>
            <%= check_stock(product) %>
          </p>
          <div class="card-footer">
            <small class="text-muted">Last updated:<br><%= product.updated_at %></small>
          </div>
        </div>
      </div>
    </div>



  <% end %>
</div>
