 <!DOCTYPE html>
<html>
  <head>
    <title>Minimarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap 5 CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container" style="margin-top: 80px !important; min-height: 950px; margin-bottom: 120px;">
      <!-- Espacio para mostrar los mensajes de aplicación (:flash, :notice, :error, etc)" -->
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>

      <% if user_signed_in? %>
        <h1> <%= t('welcome', customer: current_user.first_name) %>  </h1>
      <% end %>

      <!-- <div class="card">
        <code>
          <strong>For Testing Purpouses:</strong>
          <hr>
          User Signed IN?: <%= user_signed_in? %>
          <hr>
          Current User: <%= current_user.inspect %>
          <hr>
          Can Manage ALL? <%= can? :manage, :all %><br>
          Can Manage Products? <%= can? :manage, Product %><br>
          Can Manage Brands? <%= can? :manage, Brand %><br>
          Can Manage Categories? <%= can? :manage, Category %><br>
          Can Index Administrators? <%= can? :index, :administrator %><br>
          Can Toggle Administrators? <%= can? :toggle_admin, :administrator %><br>
        </code>
      </div> -->

      <div class="text-end">
        <%= render 'shared/language_switcher' %>
      </div>

      <%= yield %>
    </div>

    <%#= console %>

    <%= render 'shared/footer' %>
    <!-- Bootstrap 5 JS (Bundled) from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
